@charset "UTF-8";  

body {
    background-color: rgb(135, 241, 135);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1#principal {
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    color: green;
}
h2 {
    color: blue;
    background-color: aliceblue;
}
