@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #1972E6, #19E6D7);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(131, 131, 215, 0.208);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
color: #33B9E5;
text-align: center;
text-shadow: 1px 1px 2px rgba(121, 49, 255, 0.585);
}
h2 {
color: #19E692;
}
p{
    text-align: justify;
}