@charset "UTF-8";
        body {
            background-color: lightskyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: darkgoldenrod;
        }
        h2 {
            color: black;
            background-color: azure;
        }
        p {
            text-align: justify;
        }