@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

article{
    height: 30vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
}
h1#he1{
    font-size: 6em;
    font-weight: bolder;
    font-family: 'Passion One', 'cursive';
}
p#p1{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
p > strong{
    font-weight: bold;
}

section.mains{
    height: 120vh;
    background-color: white;
    padding: 10px;
    line-height: 1.5em;
    font-weight: normal;
    font-size: 4em;
    font-family: 'Sriracha', 'cursive';
}
section#conteudo2{
    height: 120vh;
    background-image: url(imagens/background001.jpg);
    background-size: 100% 100%;
    background-color: lightgray;
    padding: 10px;
}
p#p3{
    background-color: black;
    color: white;
    width: 50%;
    height: 105vh;
    position: absolute;
    left: 2%;
    padding: 0px 0px 0px 20px;
    
}
